{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Homepage | Watchtower</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- Example: Include Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}
</head>


<body>
    <div id="mainbody-container" class="font-sans min-h-screen bg-gray-200 justify-center items-center">
        <div id="subbody-container">
            <nav class="bg-gray-900 border-b-4 border-blue-500">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between h-16">
                        <div class="flex items-center">
                            <img class="h-8" src="/static/images/download.png" alt="Your Company">
                            <a href="#" class="ml-4 text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Station Id Goes here</a>
                        </div>
                        <div class="flex items-center">
                            <button type="button" class="ml-4 relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                <span class="sr-only">View notifications</span>
                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                                </svg>
                            </button>
                            <div class="ml-4 relative">
                                <button type="button" class="flex items-center rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                    <img class="h-8 w-8 rounded-full" src="/static/images/profile-image.jpeg" alt="">
                                    <span class="text-white font-medium ml-2">YABANI ATINGA</span>
                                    <svg class="h-4 w-4 text-gray-400 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            
        <div class="p-3 mt-1 mb-6 flex justify-center space-x-16">
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-home-7-line mr-2"></i>Home</a>
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-search-eye-fill mr-2"></i>Make a Search</a>
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-planet-line mr-2"></i>Contact Tracking</a>
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-progress-7-fill mr-2"></i></i>Unsolved</a>
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-profile-fill mr-2"></i>Profile</a>
            <a href="" class="font-semibold p-2 flex items-center"><i class="ri-logout-circle-line mr-2"></i>Logout</a>
        </div>
        
        <div class="flex justify-center bg-gray-800 w-3/5">
            <div class="w-3/5 bg-blue-700 p-4">
                <h1>Here</h1>
            </div>
        </div>
        
     
        </div>
    </div>

    

    <script src="/static/js/functionalities.js"></script>
</body>
</html>