{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Homepage | Watchtower</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- Example: Include Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'tailwind.css' %}">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% tailwind_css %}
</head>


<body>
    <div id="mainbody-container" class="font-sans min-h-screen bg-gray-200 justify-center items-center">
       <div id="subbody-container">
            <nav class="bg-gray-900 border-b-4 border-blue-800">
                <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between h-16">
                        <div class="flex items-center">
                            <!-- Company Logo -->
                            <img class="h-8" src="/static/images/download.png" alt="Your Company">
                            
                            {% if user.is_authenticated %}
                            <!-- Navigation Links -->
                            <a href="#" class="ml-4 text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                                {% if user.newofficerregistration %}
                                    {{ user.newofficerregistration.officer_current_station }}
                                {% else %}
                                    No officer registration found
                                {% endif %}
                            </a>
                        {% endif %}
                        </div>


                        <div class="flex items-center">
                            <!-- Notification Button -->
                            <button type="button" class="ml-4 relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                                <!-- Notification Icon -->
                                <span class="sr-only">View notifications</span>
                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                                </svg>
                            </button>

                    <!-- Profile Button -->
                    <div class="ml-4 relative">
                        <button type="button" class="flex items-center rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                            <!-- Profile Image -->
                            {% if user.is_authenticated %}
                                {% if user.newofficerregistration %}
                                    {% if user.newofficerregistration.officer_profile_image %}
                                        <img class="h-8 w-8 rounded-full" src="{{ user.newofficerregistration.officer_profile_image.url }}" alt="">
                                    {% else %}
                                        <!-- Handle the case where the user has no profile image -->
                                        <span>No profile image found</span>
                                    {% endif %}

                                {% else %}
                                    <!-- Handle the case where no NewOfficerRegistration record is associated with the user -->
                                    <span>No officer registration found</span>
                                {% endif %}
                                
                            {% else %}
                                <!-- Display a default image if the user is not authenticated -->
                                <img class="h-8 w-8 rounded-full" src="/static/images/img.jpeg" alt="">
                            {% endif %}

                            <!-- Profile Name -->
                            {% if user.is_authenticated %}
                                <span class="text-white font-medium ml-2"> {{ user.newofficerregistration.first_name }} {{ user.newofficerregistration.last_name }}</span>
                            {% else %}
                                <span class="text-white font-medium ml-2">Guest</span> <!-- Replace "Guest" with a default name if needed -->
                            {% endif %}

                            <!-- Dropdown Icon -->
                            <svg class="h-4 w-4 text-gray-400 ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </button>
                    </div>

                        </div>
                    </div>
                </div>
            </nav>

            <div class="p-3 mb-4 flex justify-center space-x-12 text-gray-900 bg-slate-300">
                <a href="{% url 'officer_account_page' %}" class="font-semibold p-2 flex items-center"><i class="ri-home-7-line mr-2"></i>Home</a>
                <a href="#" id="link-make-search" class="nav-link font-semibold p-2 flex items-center"><i class="ri-search-eye-fill mr-2"></i>Make a Search</a>
                <a href="#" id="link-contact-tracking" class="nav-link font-semibold p-2 flex items-center"><i class="ri-planet-line mr-2"></i>Contact Tracking</a>
                <a href="#" id="link-unsolved" class="nav-link font-semibold p-2 flex items-center"><i class="ri-progress-7-fill mr-2"></i>Unsolved</a>
                <a href="#" id="link-profiles" class="nav-link font-semibold p-2 flex items-center"><i class="ri-profile-fill mr-2"></i>Profiles</a>
                <a href="{% url 'officer_logout' %}" class="font-semibold p-2 flex items-center"><i class="ri-logout-circle-line mr-2"></i>Logout</a>
            </div>


            <!-- Main Content -->
            <div class="flex justify-center mt-8 mx-auto">
                <div class="w-full lg:w-3/5 mx-auto">
                    
                    <div class="flex flex-col lg:flex-row justify-between">
                        <!-- Left Side Panel -->
                        <div class="w-full lg:w-1/5 pb-3 rounded-lg shadow-md lg:mr-3" style="height: auto;">
                            <div class="text-center p-2 mb-4 border-b-2 border-gray-500">
                                <h1 class="font-semibold "><i class="ri-profile-fill mr-2"></i>OFFICER SERVICES</h1>
                                <div class="w-full bg-green-600"></div>
                            </div>

                            <!-- Officer Profile Image -->
                            <div class="text-center" id="officer_profile_imageHolder">
                                <div class="h-36 w-44 rounded-md mx-auto mt-2 bg-center bg-cover" style="background-image: url('{% static '/images/img.jpeg' %}');"></div>
                            </div>

                            <!-- Officer Information -->
                            <div class="mx-auto p-4 mt-2 text-center text- ">
                                <h2 class="text-left ml-5 text-gray-900 font-semibold">Staff ID: <span>{{ request.session.officer_staff_ID }}</span></h2>
                                <h2 class="text-left ml-5 text-gray-900 font-semibold ">Rank: <span class="text-sm">{{ request.session.officer_current_rank }}</span></h2>
                                <h2 class="text-left ml-5 text-gray-900 font-semibold">Ratings: <span>{{ request.session.officer_current_ran }}</span></h2>
                                <h2 class="text-left ml-5 text-gray-900 font-semibold">Cases Covered: <span>{{ request.session.officer_current_ran }}</span></h2>
                                <h2 class="text-left ml-5 text-red-600">ID: <span>Officer Contact & Address</span></h2>
                            </div>

                            <!-- Options Button -->
                            <button type="menu" class="rounded-md bg-blue-500 text-white text-center justify-center ml-4 px-4 py-1 mx-auto">
                                <h3>Options <i class="ri-arrow-down-s-fill ml-4"></i></h3>
                            </button>

                            <!-- Grid Links -->
                            <div class="grid p-2 mt-6 text-center text-blue-500 ">
                                <a href="" class="text-left ml-5">ID: <span>Username</span></a>
                                <a href="" class="text-left ml-5">ID: <span>Officer Name</span></a>
                                <a href="" class="text-left ml-5 ">ID: <span>Officer Contact & Address</span></a>
                            </div>
                        </div>



                        <!-- Right Side Panel -->
                        <div class="w-full lg:w-4/5  p-0 rounded-lg  mt-4 lg:mt-0" style="height: auto;">
                            <div class="">
                                <!-- Content for the second inner div -->
                                <div id="button_class" class="cursor-pointer flex flex-col lg:flex-row justify-center items-stretch font-bold bg-gray-900 rounded-md divide-x">  
                                    <div id="content-1" class=" bg-gray-800 text-white p-4 hover:border-b-2 hover:animate-pulse flex-grow lg:w-1/4">New Docket</div>
                                    <div id="content-2" class=" bg-gray-800 text-white p-4 hover:border-b-2 hover:animate-pulse flex-grow lg:w-1/4">Happenings</div>
                                    <div class="content-3 bg-gray-800 text-white p-4 hover:border-b-2 hover:animate-pulse flex-grow lg:w-1/4">Ethics & Conducts</div>
                                   <div class="content-4 bg-gray-800 text-white p-4 hover:border-b-2 hover:animate-pulse flex-grow lg:w-1/4">History</div>
                                </div>
    
                                <!--New Docket Contents Goes Here-->
                                <div id="new-docket" class="w-full mb-4 border border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                    <div class="flex items-center justify-between px-3 py-2 border-b dark:border-gray-600">
                                        <div class="flex items-center space-x-3">
                                            <button type="button" class="p-2 btn-icon">
                                                <svg class="w-4 h-4" aria-hidden="true" fill="none" viewBox="0 0 12 20">
                                                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M1 6v8a5 5 0 1 0 10 0V4.5a3.5 3.5 0 1 0-7 0V13a2 2 0 0 0 4 0V6"/>
                                                </svg>
                                                <span class="sr-only">Attach file</span>
                                            </button>
                                            <!-- Add other buttons here -->
                                        </div>
                                        <button type="button" data-tooltip-target="tooltip-fullscreen" class="p-2 btn-icon">
                                            <svg class="w-4 h-4" aria-hidden="true" fill="none" viewBox="0 0 19 19">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 1h5m0 0v5m0-5-5 5M1.979 6V1H7m0 16.042H1.979V12M18 12v5.042h-5M13 12l5 5M2 1l5 5m0 6-5 5"/>
                                            </svg>
                                            <span class="sr-only">Full screen</span>
                                        </button>
                                        <div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                            Show full screen
                                            <div class="tooltip-arrow" data-popper-arrow></div>
                                        </div>
                                    </div>
                                    <div class="px-2 py-4 bg-white  w-full rounded-b-lg dark:bg-gray-800">
                                        <label for="editor" class="sr-only">Register Docket</label>
                                        <textarea name="docket_forms" id="editor" rows="8" class="block w-full px-0 text-sm text-gray-800 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder=" Write Occurence" required></textarea>
                                    </div>
                                    <div class="bg-blue-500 mt-0">
                                        <button type="submit" name="submissionpdf" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-gray-800">
                                            Register Docket
                                        </button>
                                        </div>
                                </div>

                            
                                   <!--Searching Contents Goes Here-->
                                <div id="Happenings" class="w-full mb-4 border border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600" style="display: none;">
                                        <div class="px-2 py-4 bg-white  w-full rounded-b-lg dark:bg-gray-800">
                                        </div>
                                </div>
                                
                                    <!--Unsolved Contents Goes Here--> 
                                <div id="Ethics & Conducts" class="w-full mb-4 border border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600" style="display: none;">
                                        <div class="px-2 py-4 bg-white  w-full rounded-b-lg dark:bg-gray-800">
                                            <p>History</p>
                                        </div>
                                </div>
                                

                                       <!--Profiles Contents Goes Here-->
                                <div id="History" class="content" style="display: none;">Content for Profiles</div>
                                   

                                </div>

                             
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const content1 = document.getElementById("new-docket");
    const content2 = document.getElementById("Happenings");
    const content3 = document.getElementById("Ethics & Conducts");
    const content4 = document.getElementById("content-profiles");

    const tab1 = document.getElementById("content-1");
    const tab2 = document.getElementById("content-2");
    const tab3 = document.getElementById("content-3");
    const tab4 = document.getElementById("content-4");

    tab1.addEventListener("click", function() {
        showContent(content1);
        hideContent([content2, content3, content4]);
    });

    tab2.addEventListener("click", function() {
        showContent(content2);
        hideContent([content1, content3, content4]);
    });

    tab3.addEventListener("click", function() {
        showContent(content3);
        hideContent([content1, content2, content4]);
    });

    tab4.addEventListener("click", function() {
        showContent(content4);
        hideContent([content1, content2, content3]);
    });

    function showContent(content) {
        content.style.display = "block";
    }

    function hideContent(contents) {
        contents.forEach(function(content) {
            content.style.display = "none";
        });
    }
});
    </script>
</body>

</html>
